@import "mixins";
*{
  padding:0;
  margin:0;
  list-style: none;
}
//////////////////////leader开始/////////////////////////////////
.leader{
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 44px;
  background: rgba(0,0,0,0.8);
  //overflow: hidden;
  .leader-c{
    position: relative;
    max-width: 980px;
    padding: 0 22px;
    height: 100%;
    margin: 0 auto;
  }
}
.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 44px;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 18;
  display: none;
}
.active{
  display: block;
}
.button{
  position: absolute;
  display: none;
  width: 38px;
  height: 44px;
  top: 0;
  right: 12px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  .close{
    display: block;
    width: 100%;
    height: 100%;
    &:hover{
      opacity: .65;
      transition: opacity .5s ease ;
    }
    span{
      height: 18px;
      width: 1px;
      background: #fff;
      position: absolute;
      display: block;
      top: 11px;
      right: 12px;
    }
    #l{
      transform: rotate(-45deg);
    }
    #r{
      transform: rotate(45deg)
    }
  }
}
.leader.searching {
  .menu {
    transform: scale(0, 0);
  }
  .button{
    display: block;
  }
  .search-box {
    z-index: 30;
    transition: z-index .1s ease 0.3s;
  }
  .search-box .search-inner {
    z-index: 30;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease;
  }

  .search-box .card{
    opacity: 1;
    .card-inner {
      h3 {
        transform: translate3d(0, 0, 0);
        transition: transform .5s ease 0.3s;
      }
      ul li {
        transform: translate3d(0, 0, 0);
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition: transform .5s ease $i/2*0.05s+0.3s;
          }
        }
      }
    }
  }
}
.search-box{
  width: 66.66667%;
  position: absolute;
  top: 0;
  left: 16.66667%;
  overflow: hidden;
  z-index: -1;
  .search-inner{
    width: 100%;
    height: 44px;
    text-align: center;
    line-height: 44px;
    transform: translate3d(100%,0,0);
    .search-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 44px;
      background: url("../img/search_large.svg") no-repeat center center;
    }
    input{
      background-color: transparent;
      border: none;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: normal;
      color: #fff;
      outline: none;
      width: 100%;
      height: 22px;
      margin-left: 40px;
    }
  }
  .card{
    width: 100%;
    background: #fff;
    font-size: 15px;
    color: #999;
    opacity: 0;
    .card-inner{
      margin: 0 40px;
      padding: 24px 0 15px;
      overflow: hidden;
      h3{
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: normal;
        color: #999;
        transform: translate3d(100%,0,0);
      }
      ul li{
        height: 30px;
        margin: 4px -32px;
        transform: translate3d(100%,0,0);
        a{
          padding: 0 48px;
          display: block;
          line-height: 30px;
          color: #999;
          text-decoration: none;
          text-align: left;
          &:hover{
            background: #f2f2f2;
            color: #0070c9;
          }
        }
      }
    }
  }
}
.list{
  width: auto;
  height: 44px;
  text-align: justify;
  max-width: 1000px;
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
  }
  li{
    transition: transform .4s ease;
    display: inline-block;
    height: 44px;
    a{
      display: block;
      height: 100%;
      text-align: center;
      line-height: 44px;
      padding: 0 10px;
      &:hover{
        opacity: .65;
        transition: opacity .5s ease ;
      }
    }
  }
}
$leader-map: (
              "apple":20px,
              "mac":31px,
              "ipad":30px,
              "iphone":48px  ,
              "watch":44px  ,
              "tv" :20px ,
              "music":40px  ,
              "support":57px  ,
              "search":20px  ,
              "bag":18px
            );
  @each $i in map_keys($leader-map){
    .list{
      & .#{$i}{
        width: map_get($leader-map,$i);
        background: url("../img/" + $i +"_large.svg" ) no-repeat center center;
      }
    }
  }

$list2:("apple":40px,"bag":50px);
@each $i in map_keys($list2){
  .list2{
    & .#{$i}{
      width: map_get($list2,$i);
      background: url("../img/" + $i +"_small.svg" ) no-repeat center center;
    }
  }
}

.list2{
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 48px;
  text-align: justify;
  background: rgba(0,0,0,0.8);
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  li {
    transition: transform .4s ease;
    display: inline-block;
    height: 48px;
    width: 48px;
    position: relative;
    cursor: pointer;
    &:nth-child(3){
     transition: transform .5s ease;
    }
    &:hover {
      opacity: .65;
      transition: opacity .5s ease;
    }
  }
  .btn{
    transition: transform .4s ease;
    &.zhuan{
      transform: rotate(45deg);
    }
    .list2-l{
      display: block;
      width: 17px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 16px;
      top: 20px;
      transition: transform .4s ease;
      &.rotate{
        transform: rotate(90deg);
      }
    }
    .list2-r{
      display: block;
      width: 17px;
      height: 1px;
      background: #fff;
      position: absolute;
      left: 16px;
      bottom: 20px;
      transition: transform .4s ease;
      &.move{
        transform: translate3d(0px,-7px,0);
      }
    }
    a{
      display: block;
      height: 100%;
      text-align: center;
      line-height: 48px;
      padding: 0 10px;
      &:hover{
        opacity: .65;
        transition: opacity .5s ease ;
      }
    }
  }
}
@include onlm {
  body{
    &.hidden{
      overflow: hidden !important;
      height: 100% !important;
    }
  }
  .leader {
    width: 100%;
    height: auto;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;
    height: 48px;
    transition: height .5s ease;
    background: rgba(0,0,0,0.8);
    &.active{
      height: 100%;
      background: #000;
    }
    .leader-c{
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      .list{
        width: 100%;
        position: absolute;
        padding: 0 48px;
        z-index: 99;
        top: 48px;
        left: 0;
        height: auto;
        box-sizing: border-box;
        overflow-y: auto;
        text-align: justify;
        //transform: translateY(-100px);
        //transition: transform 300ms ease, -webkit-transform 300ms ease;
        li{
          height: 47px;
          width: 100%;
          border-bottom: 1px solid #333;
          opacity: 0;
          transform: scale(1,1) translate3d(-200px,0,0);
          &.limove{
            opacity: 1;
            transform: translate3d(0,0,0);
          }
          @for $i from 0 through 8 {
            &:nth-child(#{$i+1}) {
             transition: opacity .5s ease ,transform .5s ease $i*0.05s;
            }
          }
          a{
            display: block;
            height: 100%;
            text-align: center;
            line-height: 48px;
            padding: 0 10px;
            &:hover{
              opacity: .65;
              transition: opacity .5s ease ;
            }
          }
        }
      }
    }
  }
  .button{
    display: none;
  }
  .search-box{
    display: none;
  }
  .mask{
    display: none;
  }

  .list2{
    display: block;
    li:nth-child(3){
      &.li3{
        transform: translate3d(100px,0,0);
      }
    }
  }
  $list2-map: (
          "apple":20px,
          "mac":37px,
          "ipad":35px,
          "iphone":59px  ,
          "watch":52px  ,
          "tv" :23px ,
          "music":48px  ,
          "support":69px  ,
          "search":22px  ,
          "bag":18px
  );
  @each $i in map_keys($list2-map){
    .list{
      & .#{$i}{
        width: map_get($list2-map,$i);
        //background-size: map_get($list2-map,$i) 48px ;
        background: url("../img/"+ $i +"_small.svg") no-repeat center center;
      }
    }
  }
   .list li:nth-child(1){
     display: none;
   }
  .list li:last-child{
    display: none;
  }
  .list li:nth-child(2){
    padding-top: 12px;
  }
}

/*////////////////////banner开始////////////////////////////////////*/
.carousel{
  overflow: hidden;
  width: 100%;
  min-height: 130px;
  height: calc(100vh - 76px);
  background: #fff;
  position: relative;
  .nav{
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    a{
      display: none;
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 15;
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform .8s ease;
      &.active{
        display: block;
        z-index: 17;
      }
      &.right{
        z-index: 17;
        display: block;
        transform: translate3d(100% , 0 ,0);
      }
      &.leave{
        z-index: 16;
        display: block;
        transform: translate3d(-300px,0,0)
      }
      &.enter{
        z-index: 17;
        display: block;
        animation: enter 1s ease both;
      }
      @keyframes enter{
        0%{transform:translate3d(-100%,0,0)}
        100%{transform:translate3d(0,0,0)}
      }
    }
  }
}
$banner:("iphone":#000,"watch":#f3f3f3,"airpods":#fff,"event":#000);
@each $i in map_keys($banner){
    .#{$i}{
      background-color: map_get($banner, $i);
      background-image: url("../img/" + $i +"_large.jpg" );
    }
}
.tab-list{
  position: absolute;
  z-index: 17;
  bottom: 20px;
  width: 100%;
  text-align: center;
  .tab-nav{
    display: inline-block;
    &:after{
      content: '';
      clear: both;
    }
    .dot{
      cursor: pointer;
      margin: 0 5px;
      height: 2px;
      background-clip: content-box;
      padding: 10px 0;
      float: left;
      width: 50px;
      background-color: rgba(128,128,128,0.2);
      &.active{
        background-color: gray;
      }
    }
  }
}
////////////////////////show开始////////////////////////////
.show{
  width: 100%;
  //height: 200px;
}
.row{
  overflow: hidden;
}
.col{
  float: left;
  height: 200px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  &:nth-child(4){
    border-right: none;
  }
}
@for $i from 1 through 12{
  .d-#{$i}{
    width: percentage($i/12);
  }
}
@include onm{
  @for $i from 1 through 12{
    .m-#{$i}{
      width: percentage($i/12);
    }
  }
}
@include ons{
  @for $i from 1 through 12{
    .s-#{$i}{
      width: percentage($i/12);
    }
  }
}
$list:"ios","music","swift_playgrounds","watchos";
@each $i in $list{
  .#{$i}{
    background: url("../img/" + $i +"_large.jpg" ) no-repeat center center;
  }
}
@include onm{
  @each $i in $list{
    .#{$i}{
      background: url("../img/" + $i +"_medium.jpg" ) no-repeat center center;
      background-size: 640px 200px;
    }
  }
}
@include ons{
  @each $i in $list{
    .#{$i}{
      background: url("../img/" + $i +"_small.jpg" ) no-repeat center center;
    }
  }
}
////////////////////////////footer开始////////////////////////////////////////
.footer{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: normal;
  background-color: #f2f2f2;
  color: #666;
  font-family:"HanHei SC", PingHei, "PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  position: relative;
  .f-content{
    margin: 0 auto;
    padding: 0 22px;
    max-width: 980px;
    .nav{
      font-size: 12px;
      line-height: 1.66667;
      position: relative;
      padding-top: 20px;
      .column{
        float: left;
        width: 20%;
          h3{
            font-size: 12px;
            line-height: 1.66667;
            letter-spacing: normal;
            color: #333;
            margin: 0;
          }
          ul{
            margin-right: 20px;
            li a{
              color: #666;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
        }
        .column-section ~ .column-section{
          padding-top: 20px;
        }
      }
    }
    .copy{
      width: 100%;
      padding: 20px 0 24px;
      color: #999;
      .one{
        border-bottom: 1px solid #e3e3e3;
        //line-height: 26px;
        margin-bottom: 6px;
        padding-bottom: 5px;
        a{
          text-decoration: none;
          color: #0070c9;
          &:hover{
            color: #333;
            text-decoration: underline;
          }
        }
      }
      .two{
        float: right;
        a{
          background: url("../img/16.png") left center no-repeat;
          background-size: 16px 16px;
          color: #666;
          text-decoration: none;
          &:hover{
            color: #333;
            text-decoration: underline;
          }
          span{
            margin-left: 18px;
          }
        }
      }
      .three{
          .three1{
            margin-right: 26px;
            float: left;
          }
          .three2{
            margin-right: 26px;
            float: left;
            a{
              margin-right: 10px;
              padding-right: 12px;
              white-space: nowrap;
              border-right: 1px solid rgb(214, 214, 214);
              color: rgb(102, 102, 102);
              text-decoration: none;
              &:hover{
                color: #333;
                text-decoration: underline;
              }
              &:last-child{
                margin: 0;
                padding-right: 0;
                border-right: 0;
              }
            }
          }

      }
    }
  }
}
@include onlm {
  .footer {
    min-width: 320px;
    background-color: #f2f2f2;
    color: #666;
    .f-content {
      padding: 0 16px;
      margin: 0 auto;
      .nav {
        font-size: 12px;
        letter-spacing: normal;
        padding-top: 20px;
        .column {
          //float: left;
          overflow: hidden;
          margin: 0;
          padding: 0;
          min-height: 2px;
          width: 100%;
          position: relative;
          h3 {
            width: 100%;
            border-bottom: 1px solid #e3e3e3;
            overflow: hidden;
            background: #f2f2f2;
            cursor: pointer;
            float: left;
            font-size: 14px;
            line-height: 38px;
            color: #666;
            position: relative;
            z-index: 20;
            &:after {
              content: "+";
              float: right;
              margin-right: 8px;
              font-weight: normal;
              transition: transform .3s ease, -webkit-transform .3s ease;
            }
          }
        }
        ul {
          margin: 0;
          overflow: hidden;
          padding-bottom: 16px;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          visibility: hidden;
          z-index: -1;
          background: #f2f2f2;
          transform: translateY(-100px);
          transition: transform 300ms ease, -webkit-transform 300ms ease;
          &.move{
            position: static;
            z-index: 2;
            transform: none;
            visibility: visible;
          }
          li a {
            outline-offset: -6px;
            padding: 0 14px;
            display: block;
            color: #666;
            line-height: 30px;
            text-decoration: none;
          }
        }
        .column-section {
          //border-bottom: 1px solid #e3e3e3;
          width: 100%;
          padding: 0;
          position: relative;
          h3 {
            width: 100%;
            border-bottom: 1px solid #e3e3e3;
            overflow: hidden;
            background: #f2f2f2;
            cursor: pointer;
            float: left;
            font-size: 14px;
            line-height: 38px;
            color: #666;
            &:after {
              content: "+";
              float: right;
              margin-right: 8px;
              font-weight: normal;
              transition: transform .3s ease, -webkit-transform .3s ease;
            }
          }
        }
        h3.click {
          color: #000;
          &:after {
            transform: rotate(45deg) scale(1.08);
          }
        }
      }
      .copy{
        width: 100%;
        padding: 20px 0 24px;
        color: #999;
        .one{
          border-bottom: 1px solid #e3e3e3;
          //line-height: 26px;
          margin-bottom: 6px;
          padding-bottom: 5px;
          a{
            text-decoration: none;
            color: #0070c9;
            &:hover{
              color: #333;
              text-decoration: underline;
            }
          }
        }
        .two{
          float: none;
          a{
            background: url("../img/32.png") left center no-repeat;
            background-size: 16px 16px;
            color: #666;
            text-decoration: none;
            &:hover{
              color: #333;
              text-decoration: underline;
            }
            span{
              margin-left: 18px;
            }
          }
        }
        .three{
          padding-top: 13px;
          .three1{
            margin-right: 26px;
            float: left;
          }
          .three2{
            margin-right: 26px;
            float: left;
            a{
              margin-right: 10px;
              padding-right: 12px;
              white-space: nowrap;
              border-right: 1px solid rgb(214, 214, 214);
              color: rgb(102, 102, 102);
              text-decoration: none;
              &:hover{
                color: #333;
                text-decoration: underline;
              }
              &:last-child{
                margin: 0;
                padding-right: 0;
                border-right: 0;
              }
            }
          }

        }
      }
    }
  }
}














